<footer>
    <section>
        <div class="example-button-row">
          <div class="example-flex-container">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>list icon</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>schedule icon</mat-icon>
              </button>
            <button mat-icon-button aria-label="Example icon button with a home icon">
              <mat-icon>sort icon</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a menu icon">
              <mat-icon>group icon</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a heart icon">
              <mat-icon>history icon</mat-icon>
            </button>
          </div>
        </div>
      </section>
</footer>
